*
{
    box-sizing: border-box;
font-family: sans-serif
}
body
{
    margin: 0;
    
}
.container
{

    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30vh;
    border: 20px solid black;
    border-radius: 10px;
}


.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.flexBtns
{
    display:flex;
    justify-content: center;
}
.Btn
{
    border:none;
    width: 100%;
    height: 60px;
    font-size: 50px;
    padding: 0;
}

.teamsNamesHolders
{
    background: linear-gradient( rgb(221, 221, 221) 3%, rgb(255,255,255),rgb(255,255,255));
    border-bottom: 3px solid rgb(221, 221, 221);
}

.teamsNamesHolders > h2
{
    font-size: 40px;
    font-weight: 100;
    color: rgb(53, 109, 90);
}
.teamsNamesHolders h2:last-of-type
{
    color: purple;
}
.bold
{
    font-weight: bold;
}
.scoreNumbers
{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 0;
    margin: 30px 0;
}

.Btn:hover
{
    cursor: pointer;
    background-color: beige;
}

.message
{
    width: 100%;
    margin: 0;
    font-size: 30px;
    text-transform: capitalize;
    font-style: oblique;
    text-align: center;
    letter-spacing: 2px;
}

.red
{
    color: red;
}
.green
{
    color: green;
}
